.c-button {
  display: block;
  width: 160px;
  padding: 6px;
  background-color: $color-bg-btn;
  font-size: 1.2rem;
  font-family: $font-en;
  font-weight: 700;
  color: $color-txt-btn;
  text-align: center;
}