.p-about {
  margin-top: 80px;
  .u-wrap {
    padding: 0;
  }
  &__container {
    background-image: url(/assets/images/top/about_img01.png);
    padding: 50px 0;
  }
  &__inner {
    background-color: $color-bg-white;
    padding: 50px 15px 50px 30px;
    max-width: 590px;
    width: 92%;
    margin: 0 auto;
    &__txt {
      font-size: 1.6rem;
    }
  }
}

@include media(min, sm) {
  .p-about {
    &__container {
      padding: 60px 0;
    }
    &__inner {
      padding: 40px 30px;
    }
  }
} // media(min, sm)

@include media(min, md) {
  .p-about {
    margin-bottom: -100px;
    position: relative;
    z-index: 1;
    &__container {
      padding: 110px 50px;
    }
    &__inner {
      padding: 50px 30px;
      margin: 0 auto 0 0;
    }
  }
} // media(min, md)