.p-about {
  margin-top: 80px;
  .u-wrap {
    padding: 0;
  }
  &__container {
    background-image: url(/assets/images/top/about_img01.png);
    padding: 50px 0;
  }
  &__inner {
    background-color: $color-bg-white;
    margin: 0 4%;
    padding: 50px 15px 50px 30px;
    max-width: 590px;
    &__txt {
      font-size: 1.4rem;
    }
  }
}