.p-contact {
  background-color: $color-bg-gray1;
  padding: 40px 0 80px 0;
  &__container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 520px;
  }
  &__inner {
    &__ttl {
      margin-top: 30px;
    }
  }
}

@include media(min, md) {
  .p-contact {
    padding: 60px 0 120px 0;
    &__container {
      flex-direction: row;
      align-items: center;
      max-width: 100%;
    }
    &__inner {
      margin-right: 80px;
      &__ttl {
        margin-top: 30px;
      }
    }
    &__image {
      width: 580px;
    }
  }
} // media(min, md)