.p-topics {
  padding: 40px 0;
  &__item {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-bg-border;
    &__date {
      font-size: 1rem;
      font-weight: 700;
      font-family: $font-en;
      letter-spacing: 0.015em;
      color: $color-txt-gray;
    }
    &__ttl {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: $letter-spacing-ttl;
      margin-top: 10px;
    }
  }
}