.p-topics {
  padding: 40px 0;
  &__item {
    border-bottom: 1px solid $color-bg-border;
    &__btn {
      display: block;
      padding-bottom: 10px;
      @include hover-action;
    }
    &__date {
      font-size: 1rem;
      font-weight: 700;
      font-family: $font-en;
      letter-spacing: 0.015em;
      color: $color-txt-gray;
    }
    &__ttl {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: $letter-spacing-ttl;
      margin-top: 10px;
    }
  }
}

@include media(min, md) {
  .p-topics {
    &__item {
      &__btn {
        padding-bottom: 12px;
      }
      &__ttl {
        font-size: 1.4rem;
        margin-top: 12px;
      }
    }
  }
} // media(min, md)

@include media(min, md) {
  .p-topics {
    padding: 60px 0;
    &__list {
      width: 700px;
      margin-left: auto;
    }
    &__button {
      margin-left: auto;
    }
  }
} // media(min, md)